span
{
    font-size: 16px !important;
    padding:10px;
}
ul li
{
    display:inline !important;
}
div button
{
    font-size: 17px;
    color: #000000 !important;
    margin-top :20px !important;
    background-color: inherit;
    border:none;
    outline: none;
    cursor: pointer;
}
.row button:hover
{
    text-decoration: none;
    border-bottom: 4px solid #e58e32 !important;
}
 .row button.link.active
{
    color:blue !important;
    border-bottom: 4px solid #e58e32 !important;
}
#left
{
	margin-left: 100px !important;
	z-index: 1 !important;
}
.prev
{
	float:left !important;
}
.pager .prev
{
	position: absolute;
	top: 35%;
    z-index: 5;
    display: inline-block;
    margin-top: -40px;
    margin-left: -650px;
}
.pager .next
{
	position: absolute;
    top: 45%;
    z-index: 5;
    display: inline-block;
    margin-top: -100px;
    margin-left: 620px !important;
}
.pager .prev :hover ,.pager .next :hover
{
	cursor: pointer;
}
.pager li>a
{
    padding :25px 10px 25px 10px !important;
	border-radius: 0px !important;
}
button
{
	margin-top: 10px !important;
}
.col-lg-3
{
	padding: 10px !important;
}
